<table>
    <tr>
        <td class="key">
            <label for="title">Title</label>
        </td>
        <td class="value">
            <input type="text" name="auctionTitle" id="title" 
            class="form-control" required required>
        </td>
    </tr>

    <tr>
        <td class="key">
            <label for="categories">Select Category</label>
        </td>
        <td class="value">
            <select>
                <option value="Vehicles">       Vehicles</option>
                <option value="AntiqueProducts">Antique Products</option>
                <option value="Lands">          Lands</option>
                <option value="Other" checked>  Other</option> <!-- when this is selected, enable a [input type="text"], and via JS make it happen-->
            </select>
        </td>
    </tr>

    <tr>
        <td class="key">
            <label for="auctionSecurity">Security</label>
        </td>
        <td class="value">
            <input type="radio" name="auctionSecurity" value="Public" checked>
                <label for="Public">Public</label>
            <input type="radio" name="auctionSecurity" value="Private">
                <label for="Private">Private</label>
        </td>
    </tr>

    <tr>
        <td class="key">
            <label for="description">Description</label>
        </td>
        <td class="value">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control" placeholder="Enter some description of it.."></textarea>    <!--"value"..? - Setting the default values to be the earlier edited ones-->
        </td>
    </tr>
<!--
    
    ---------------- NOTE: Uncomment this, when could successfully upload the images to db and load back

    <tr>
        <td class="key">
            <label for="auctionImages">Select display image</label>
        </td>
        <td class="value">
            <input type="file" value="Upload display image"  name="auctionImages">
        </td>
    </tr>
-->
    <tr>
        <td class="key">
            <label for="auctionImages">Select display image</label>
        </td>
        <td class="value">
            <input type="text" placeholder="Place link..(dvlpmnt in progress)"  name="auctionImagesURL">
        </td>
    </tr>

    <tr>
        <td class="key">
            <label for="launchOn">Launch auction on</label>
        </td>
        <td class="value">
            <input type="date" name="launchOn" value="2021-11-21" required>
            <!-- <input type="time" name="publishedOn" > -->
        </td>
    </tr>

    <tr>
        <td class="key">
            <label for="closingOn">Close auction on</label>
        </td>
        <td class="value">
            <input type="date" name="closingOn" required>
            <!-- <input type="time" name="publishedOn" > -->
        </td>
    </tr>

    <tr>
        <td class="key">
            <label for="bidPrice">Start bid with: </label>
        </td>
        <td class="value">
            <input type="number" name="bidPrice" required>
        </td>
    </tr>

    <tr>
        <td class="key">
            <label for="maxBidAmount">Set the max bid amount</label>
        </td>
        <td class="value">
            <input type="number" name="maxBidAmount" required>
        </td>
    </tr>
    
</table>


<a href="/" class="btn btn-secondary mt-2">Cancel</a>
<button type="submit" class="btn btn-primary mt-2">Save Auction</button>


<br/>
<br/>
<label>Pardon..!! This UI design is currently meant for testing the functionality, further improvements and enhancements on the way ..!!</label>