<!-- Header content-->
<header class="navBar" id="navigationBar">
    <a href="#" class="logo"> <img class="logo-img" src="/views/resources/auction_2.png"></a>
    <ul class="navigation">
        <li><a href="howItWorks.html">How it works?</a></li>
        <li><a href="auctions/">Explore Auctions</a></li>
        <li><a href="/auctions/new-auction">Want to Auction?</a></li>
        <li><a href="/users">Login</a></li>      <!-- For dvlpmnt purpose, placing here... but later move it-->
        <li><a href="/users/profile">Profile</a></li> 
    </ul>
    <div class="search">
        <input type="text"  placeholder="Search our Inventory" /> <i class="fa fa-search" aria-hidden="true"></i>
    </div>
</header>