<!DOCTYPE html>
<html lang="en">
<head>
    <title>How it works</title>
    <link rel="icon" href="resources/auctioner.png" type="image/png">       <!-- Setting the favicon-->
    <!--Stylesheets..-->
    <link href="../styles/howItWorks-styles.css" rel="stylesheet" type="text/css">   <!--Custom Stylesheet-->
    <link href="../styles/header-styling.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- Heading content-->
    <header id="header">
        <a href="#" class="logo"> <img class="logo-img" src="../resources/auction_2.png"></a>
        <ul class="navigation">
            <li><a href="#WhoWeAre">Who we are?</a></li>
            <li><a href="#procedure">Procedure</a></li>
            <li><a href="#delivery">Transportation & Delivery</a></li>
            <li><a href="#faq">FAQ</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>


    <section id="introduction">
            <div class="content">
                <h2>How it works?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
            </div>
            <img src="../resources/guide.png">
    </section>
    <section id="WhoWeAre">
        <div class="content">
            <h2>Who we are?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
        </div>
        <img src="../resources/guide.png">
</section>
    <section id="procedure">
        <!--Take the idea of flowchart from eAuction.gov.in-->
            <div class="content">
                <h2>Procedure</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
            </div>
    </section>
    <section id="delivery">
        <div class="content">
            <h2>Transportation & Delivery</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
        </div>
        <img src="../resources/guide.png">
    </section>

    <section id="faq">
        <div class="content">
            <h2>faq</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
        </div>
        <img src="../resources/guide.png">
    </section>

    <script type="text/javascript">
        function toggle(){
            var header = document.getElementById("header");
            header.classList.toggle('active');
        }
    </script>
</body>
</html>
