<!DOCTYPE html>
<html lang="en">
<head>
    <title>How it works</title>
    <link rel="icon" href="../resources/auctioner.png" type="image/png">       <!-- Setting the favicon-->
    <!--Stylesheets..-->
    <link href="../styles/howItWorks-styles.css" rel="stylesheet" type="text/css">   <!--Custom Stylesheet-->
    <link href="../styles/header-styling.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- Heading content-->
    <header id="header">
        <a href="#" class="logo"> <img class="logo-img" src="../resources/auction_2.png"></a>
        <ul class="navigation">
            <li><a href="#WhoWeAre">Who we are?</a></li>
            <li><a href="#procedure">Procedure</a></li>
            <li><a href="#delivery">Transportation & Delivery</a></li>
            <li><a href="#faq-section">FAQ</a></li>
        </ul>
        <div class="toggle" onclick="toggle()"></div>
    </header>


    <section id="introduction">
            <div class="content">
                <h2>How it works?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
            </div>
            <img src="../resources/question.png">
    </section>
    <section id="WhoWeAre">
        <img src="../resources/team.png">
        <div class="content">
            <h2>Who we are?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
        </div>       
</section>
    <section id="procedure">
        <!--Take the idea of flowchart from eAuction.gov.in-->
            <div class="content">
                <h2>Procedure</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
            </div>
            <img src="../resources/planning.png">      
    </section>
    <section id="delivery">
        <img src="../resources/fast-delivery.png">
        <div class="content">
            <h2>Transportation & Delivery</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
        </div>
    </section>

    <section id="faq-section">
        
        <img src="../resources/faq.png">
        <div class="faqs">
            <h2 class="title">FAQs</h2>
            <div class="faq">
                <div class="question">
                    <h3> What is JavaScript?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" 
                              stroke="white" 
                              stroke-width="7" 
                              stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>JavaScript is abreviated as JS. Its a programming language that conforms to the ECMAScipt specification.
                        JavaScript is hihg-level, often just-in-time compiled, and multi-paradigm.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>Is it easy to learn HTML and CSS?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" 
                              stroke="white" 
                              stroke-width="7" 
                              stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>JIf you could put some interest, its simple and easy to understand.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3> What is Web development?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" 
                              stroke="white" 
                              stroke-width="7" 
                              stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>Its about building and maintanence of websites. Its the work that happens behind the scenes to make a websiet look great, work fast and perform well
                    </p>
                </div>
            </div>
        </div>
        
    </section>

    <script type="text/javascript">
        // For toggling the nav bar when in responsively..
        function toggle(){
            var header = document.getElementById("header");
            header.classList.toggle('active');
        }
        // for functioning of animation in FAQs..
        const faqs = document.querySelectorAll(".faq");

        faqs.forEach(faq=>{
            faq.addEventListener("click", ()=>{
            faq.classList.toggle("active"); 
            });
        }); 
    </script>
</body>
</html>

<!-- Tasks pending...
    FAQs, if one opened other needs to get toggled
-->