<!DOCTYPE html>
<html lang="en">
<head>
    <title>How it works</title>
    <link rel="icon" href="../resources/auctioner.png" type="image/png">       <!-- Setting the favicon-->
    <!--Stylesheets..-->
    <link href="../styles/howItWorks-styles.css" rel="stylesheet" type="text/css">   <!--Custom Stylesheet-->
    <link href="../styles/header-styling.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!-- Heading content-->
    <header id="header">
        <a href="#" class="logo"> <img class="logo-img" src="../resources/auction_2.png"></a>
        <ul class="navigation">
            <li><a href="#WhoWeAre">Who we are?</a></li>
            <li><a href="#procedure">Procedure</a></li>
            <li><a href="#delivery">Transportation & Delivery</a></li>
            <li><a href="#payment">Payments</a></li>
            <li><a href="#faq-section">FAQ</a></li>
        </ul>
        <!--<div class="toggle" onclick="toggle()"></div>-->
    </header>


    <section id="introduction">
            <div class="content">
                <h2>How it works?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
            </div>
            <img src="../resources/question.png">

    </section>
    <section id="WhoWeAre">
        <img src="../resources/team.png">
        <div class="content">
            <h2>Who we are?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
        </div>       
        <img src="../resources/support.png">
    </section>
    <section id="procedure">
        <!--Take the idea of flowchart from eAuction.gov.in-->
            <div class="content">
                <h2>How it goes on..?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
            </div>
            <img src="../resources/planning.png">      
    </section>
    <section id="license">
        <img src="../resources/patent.png">
        <div class="content">
            <h2>Ease of License transfer</h2>
            <p>We provide a convinient way of transferring license with a very very minimal charges<br/>
            Please checkout here..</p>
            <a href="#"> License Transfer</a>
        </div>
    </section>
    <section id="delivery">
        <img src="../resources/fast-delivery.png">
        <div class="content">
            <h2>Transportation & Delivery</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
        </div>
    </section>
    <section id="payment">
        <img src="../resources/credit-card.png">
        <div class="content">
            <h2>Payment methods</h2>
            <p>We support more than 10 payment methods...!! <br/>
            Checkout here..</p>
            <a href="#"> Payment methods</a>
        </div>
    </section>

    <section id="faq-section">
        
        <img src="../resources/faq.png">
        <div class="faqs">
            <h2 class="title">FAQs</h2>
            <div class="faq">
                <div class="question">
                    <h3> How do I start bidding and buying in e-auctions??</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" 
                              stroke="white" 
                              stroke-width="7" 
                              stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        The first step to bidding and buying e-auctions is to register to become a member. 
                        Registration is completely free and just takes a few minutes. 
                        Just upload a copy of your government-issued ID, then once your documents and account information have been reviewed and approved.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>How do I bid in Copart online auctions?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" 
                              stroke="white" 
                              stroke-width="7" 
                              stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>There are three primary methods of bidding in Copart auctions:</p>
                    
                    <h4>Preliminary Bidding</h4>
                    <p>Once the vehicle is listed on website, members can place preliminary bids (‘pre-bids’) on vehicles at any time up to one hour before the start of the live auction. 
                        Pre-bids will be represented during the live auction and could be the winning bid if no other bidder submits a higher bid during either the pre-bid phase or the live auction. 
                        If there is a tie between pre-bid and live bid amounts, the virtual (live) bidder prevails as the highest bidder on the item.
                    </p>
                    <h4>Live Bidding</h4>
                    <p>Bidders can bid live against other Members during a virtual auction. If a Member’s bid is the highest when the circular, dynamic countdown timer stops, the Member wins the sale of the vehicle (pending sale approval from Seller).
                    </p>
                    <h4>Buy It Now</h4>
                    <p>Members can bypass the virtual auction of certain vehicles labeled Buy It Now. Bids can still be placed on these vehicles, but Members can also purchase them immediately for a predetermined price listed on the vehicle’s Lot Details page.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3>How do I pay for a vehicle and schedule pickup after I’ve won?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" 
                              stroke="white" 
                              stroke-width="7" 
                              stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>
                        There are several convenient payment options for you to choose from after winning your vehicle 
                        Please checkout our payment methods here: 
                        <a href="#"> Payment methods</a>
                        If you choose to have a in-person collection, then please <a href="#"> Contact Us</a>.
                    </p>
                </div>
            </div>

            <div class="faq">
                <div class="question">
                    <h3> Do I just pay what I bid or are there other fees attached?</h3>
                    <svg width="15" height="10" viewbox="0 0 42 25">
                        <path d="M3 3L21 21L39 3" 
                              stroke="white" 
                              stroke-width="7" 
                              stroke-linecap="round"/>
                    </svg>
                </div>
                <div class="answer">
                    <p>Its completely transparent. We just charge a minimal amount of 10% to keep our business thriving <i>(Hope you can understand us..)</i></p>
                    </p>
                </div>
            </div>

            <p>Still had a question to be answered..?? <br/>Please contact our help-line, we would be happy to help you out.</p>
        </div>
    </section>

    <script type="text/javascript">
        // For toggling the nav bar when in responsively..
        function toggle(){
            var header = document.getElementById("header");
            header.classList.toggle('active');
        }
        // for functioning of animation in FAQs..
        const faqs = document.querySelectorAll(".faq");

        faqs.forEach(faq=>{
            faq.addEventListener("click", ()=>{
            faq.classList.toggle("active"); 
            });
        }); 
    </script>
</body>
</html>

<!-- Tasks pending...
    FAQs, if one opened other needs to get toggled
-->