<!DOCTYPE html>
<html lang="en">
<head>
    <title>e-auction system</title>
    <link rel="icon" href="resources/auctioner.png" type="image/png">       <!-- Setting the favicon-->
    <!--Stylesheets..-->
    <link href="styles/styles.css" rel="stylesheet" type="text/css">   <!--Custom Stylesheet-->
    <link href="styles/header-styling.css" rel="stylesheet" type="text/css">
    <link href="styles/footer-styles.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body> 
    <!-- Heading content-->
    <header><a href="#" class="logo"> <img class="logo-img" src="resources/auction_2.png"></a>
        <ul class="navigation">
            <li><a href="howItWorks.html">How it works?</a></li>
            <li><a href="views/exploreAuctions.html">Explore Auctions</a></li>
            <li><a href="views/wantToAuction.html">Want to Auction?</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li> 
        </ul>
        <div class="search">
            <input type="text"  placeholder="Search our Inventory" /> <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </header>

    <!-- Section content-->
    <div class="banner">
        <div class="content">
            <h2>e-Auction system</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nostrum itaque. Officiis facilis perspiciatis dolore harum. Cum repudiandae sit quibusdam! Quam quo officia eum? Ipsa iste ratione est sit et!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate inventore officia minus unde, blanditiis aspernatur dolore error delectus distinctio perspiciatis culpa eligendi repellat ut laborum nesciunt, nulla obcaecati vero porro.</p>
            <a href="#"> Read more...</a>
        </div>
        <img src="resources/auction_situation.jpg" class="image" alt="A computer and mobile image"> <!--source: <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>-->
    </div>
     
    <!--footer content-->
    <%- include('footer')%>
</body>
</html>