<html>
    <link href="styles/styles1.css" rel="stylesheet" type="text/css">
    <body>
        <h1>Hello Govinda</h1>
        <%- include('template1')%>
        <ul>
            <li>Stationary</li>
            <li>Market</li>
            <li>School</li>
            <li>College</li>
        </ul>
    </body>
</html>