footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: rgba(4, 176, 255, 0.774); 
}

footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .section h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container .section h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 55px;
    height: 3px;
    background: #ffeb3b
}

footer .container .section p{
    color: #fff;
}
footer .container .section .socialSites{
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-gap: 10px;
}
footer .container .section .socialSites li{
    list-style: none;
}
.section .socialSites li a{
    display:inline-block;
    width: 48px;
    height: 48px;
    background: rgba(4, 176, 255, 0.986);
    display: grid;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    border-radius: 5px; 
}
.section .socialSites li a:hover{
    background: rgba(142, 216, 250, 0.904);
}
footer .info{
    position: relative
}
.section li a .fa{
    color: #fff;
    font-size: 20px;
}

footer .section li{
    list-style: none;
}
footer .section li a{
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    color: #f7f7f7;
}
footer .section li a:hover{
    color: #ffeb3b
}

footer .section .info{
    position: relative;
}
footer .section .info li{
    display: grid;
    grid-template-columns: 35px 1fr;
    margin-bottom: 15px;
}
.info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
}
.info li span{
    color: #fff;
}
.info a{
    color: #f7f7f7;
    text-decoration: none;
}
.info a:hover{
    color: #ffeb3b;
}

/*Copy right contents..*/
.copyRightsText{
    width: 100%;
    background: rgba(4, 155, 255, 0.986);
    padding: 8px 100px;
    text-align: center;
    color: #fff
}

/**Time to make it responsive...*/
@media(max-width: 991px){
    footer{
        padding: 40px
    }
    footer .container{
        grid-template-columns: repeat(2, 1fr)
    }
    .copyRightsText{
        padding: 8px 40px
    }
}

@media(max-width: 768px){
    footer .container{
        grid-template-columns: repeat(1, 1fr)
    }
}